<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DocumentMapper">
    <insert id="save">
        INSERT INTO t_document (name, `size`, createuser, type, filename, md5, fid,contenttype)
        VALUES (#{name},#{size},#{createuser},#{type},#{filename},#{md5},#{fid},#{contenttype})
    </insert>


    <select id="findDocumentByFid" resultType="com.kaishengit.pojo.Document">
        select * from t_document
        WHERE fid=#{fid};
    </select>
    <select id="findDocumentById" resultType="com.kaishengit.pojo.Document">
        select * from t_document
        WHERE id = #{id};
    </select>
</mapper>