<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaishengit.mapper.BorrowMapper">

    <cache/>

    <select id="findById" parameterType="int" resultType="com.kaishengit.pojo.Borrow">
        SELECT borrow.id,bid,cid,book.code as 'book.code',book.title as 'book.title',book.author as 'book.author',book.publishing as 'book.publishing',card.code as 'card.code',card.name as 'card.name',card.tel as 'card.tel'
        FROM borrow
        INNER JOIN book ON book.id = borrow.bid
        INNER JOIN card ON card.id = borrow.cid
        WHERE borrow.id = #{id}
    </select>

    <!--<select id="findById" parameterType="int" resultMap="BorrowBookCardMap">-->
        <!--SELECT borrow.id,bid,cid,book.code,book.title,book.author,book.publishing,card.code,card.name,card.tel-->
        <!--FROM borrow-->
        <!--INNER JOIN book ON book.id = borrow.bid-->
        <!--INNER JOIN card ON card.id = borrow.cid-->
        <!--WHERE borrow.id =-->
    <!--</select>-->

    <!--<resultMap id="BorrowBookCardMap" type="com.kaishengit.pojo.Borrow">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="bid" property="bid"/>-->
        <!--<result column="cid" property="cid"/>-->
        <!--<association property="book" javaType="com.kaishengit.pojo.Book">-->
            <!--<result column="code" property="code"/>-->
            <!--<result column="title" property="title"/>-->
            <!--<result column="author" property="author"/>-->
            <!--<result column="publishing" property="publishing"/>-->
        <!--</association>-->
        <!--<association property="card" javaType="com.kaishengit.pojo.Card">-->
            <!--<result column="code" property="code"/>-->
            <!--<result column="name" property="name"/>-->
            <!--<result column="tel" property="tel"/>-->
        <!--</association>-->
    <!--</resultMap>-->

</mapper>