<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"


       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        ">

    <bean id="userDao" class="com.kaishengit.dao.UserDaoImpl2"/>
    <!--<bean id="userDaoImpl1" class="com.kaishengit.dao.UserDaoImpl"/>-->


    <bean id="myAdvice" class="com.kaishengit.aop.MyAdvice"/>
    <aop:config>
        <aop:aspect ref="myAdvice">
            <aop:pointcut id="userDaoImpl2" expression="execution(* com.kaishengit..*.*(..))"/>
            <!--<aop:before method="beforeAdvice" pointcut-ref="userDaoImpl2"/>-->
            <!--<aop:after-returning method="afterRuturningAdvice" pointcut-ref="userDaoImpl2" returning="result"/>-->
            <!--<aop:after-throwing method="throwingAdvice" pointcut-ref="userDaoImpl2" throwing="e"/>-->
            <!--<aop:after method="afterAdive" pointcut-ref="userDaoImpl2"/>-->

            <aop:around method="aroundAdvice" pointcut-ref="userDaoImpl2"/>
        </aop:aspect>
    </aop:config>

    <!--自动注入三 名字注入 根据id名字来注入，ID不同时可能根据类型查找-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService" autowire="byName"/>-->

    <!--自动注入二 自动类型注入，只能有一个符合的类型，两个报错-->
    <bean id="userService" class="com.kaishengit.service.UserService" autowire="byType"/>

    <!--自动注入一 构造器注入-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService" autowire="constructor"/>-->


    <!--Contructor注入三 ByType-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService">-->
    <!--<constructor-arg type="com.kaishengit.dao.UserDao" ref="userDaoImpl2"/>-->
    <!--</bean>-->

    <!--Contructor注入二 ByIndex-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService">-->
    <!--<constructor-arg index="0" ref="userDaoImpl2"/>-->
    <!--</bean>-->


    <!--Constructor注入一 ByName-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService">-->
    <!--<constructor-arg name="userDao" ref="userDaoImpl2"/>-->
    <!--</bean>-->


    <!--SET第四种 P注入-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService" p:userDao-ref="userDaoImpl2"/>-->

    <!--SET第三种 bean注入-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService">-->
    <!--<property name="userDao">-->
    <!--<bean class="com.kaishengit.dao.UserDaoImpl2"/>-->
    <!--</property>-->
    <!--</bean>-->


    <!--SET第二种，ref 注入-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService">-->
    <!--<property name="userDao">-->
    <!--<ref bean="userDaoImpl2"/>-->
    <!--</property>-->
    <!--</bean>-->

    <!--SET第一种，简便注入-->
    <!--<bean id="userService" class="com.kaishengit.service.UserService">-->
    <!--<property name="userDao" ref="userDaoImpl1"/>-->
    <!--</bean>-->


    <!--<bean id="bookService" class="com.kaishengit.service.BookService">-->
    <!--<property name="bookName" value="狂人日记"/>-->
    <!--<property name="bookCode" value="101"/>-->
    <!--<property name="lists">-->
    <!--<list value-type="java.lang.String">-->
    <!--<value>list1</value>-->
    <!--<value>list2</value>-->
    <!--<value>list3</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--<property name="sets">-->
    <!--<set value-type="java.lang.String">-->
    <!--<value>set1</value>-->
    <!--<value>set2</value>-->
    <!--<value>set3</value>-->
    <!--</set>-->
    <!--</property>-->
    <!--<property name="maps">-->
    <!--<map key-type="java.lang.String" value-type="java.lang.Object">-->
    <!--<entry key="key1" value="value1"/>-->
    <!--<entry key="key2" value="value2"/>-->
    <!--<entry key="key3" value="value3"/>-->
    <!--</map>-->
    <!--</property>-->
    <!--<property name="properties">-->
    <!--<props value-type="java.lang.String">-->
    <!--<prop key="properties1">value1</prop>-->
    <!--<prop key="properties2">value2</prop>-->
    <!--<prop key="properties3">value3</prop>-->
    <!--</props>-->
    <!--</property>-->
    <!--<property name="userDao" ref="userDaoImpl2"/>-->
    <!--</bean>-->


</beans>